@model MVCJeopardy.UI.Models.BoardIndexModel
<style>
    #boardBG {
        background: url('http://media.giphy.com/media/5xtDarmaKOwqLakGHIY/giphy.gif') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #boardPage {
        font-family: Arial;
        text-shadow: 0.1em 0.1em #000;
        margin: 0 auto;
        padding: 50px 0px;
        text-align: center;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }

        #boardPage h1 {
            color: white;
            font-size: 16pt;
        }

        #boardPage h4 {
            margin-top: 0px;
            color: white;
            font-size: 12pt;
            margin-bottom: 15px;
        }

    #board {
        table-layout: fixed;
        margin: 0 auto;
        width: 800px;
        border: 5px solid #ffd800;
    }

        #board thead tr td h1 {
            text-shadow: 0.1em 0.1em #000;
            margin: 0px;
            font-size: 20pt;
            font-family: Impact;
            color: white;
            vertical-align: central;
            background-color: none;
        }

        #board tr td {
            text-shadow: 0.1em 0.1em #000;
            width: 100px;
            height: 48px;
            overflow: hidden;
            font-size: 28pt;
            font-family: Impact;
            color: #ffdb00;
            vertical-align: central;
            padding: 5px 10px;
            border: 3px solid #000000;
            background-color: rgba(0, 38, 255, 0.9);
        }

            #board tr td a {
                color: #ffdb00;
            }

            #doneScreen h1 {
                padding-top: 0px;
                margin-top: 15px;
                font-size: 60pt;
                font-family: Impact;
                font-style: oblique;
            }

            #donescreen hr {
                margin-bottom: 0px;
            }
</style>

<div id="boardBG">
    <div id="boardPage" align="center">
        <h1>@Model.questionSet.Title</h1>
        <h4>"@Model.questionSet.Description"</h4>
        <script>var allVisited = true;</script>
        <div id="doneScreen" style="display:none;">
            <h1>Good Game!</h1>
            <hr />
            <ul id="homenav">
                <li>
                    <strong>
                        @Html.ActionLink("Restart", "Restart")
                    </strong>
                </li>
                <li>
                    <strong>
                        @Html.ActionLink("Return home", "Index", "Home")
                    </strong>
                </li>
            </ul>
        </div>
        <table id="board" cellspacing="0" cellpadding="50" border="1" align="center">
            <thead>
                <tr>
                    @{
                        for (int i = 0; i < Model.questionSet.gameBoard.Length; i++)
                        {
                            <td>
                                <h1>@Model.questionSet.gameBoard[i].Name</h1>
                            </td>
                        }
                    }
                </tr>

            </thead>
            <tbody>
                @for (int cQuestion = 0; cQuestion < Model.questionSet.gameBoard[0].questions.Length; cQuestion++)
                {
                    <tr>
                        @for (int cCategory = 0; cCategory < Model.questionSet.gameBoard.Length; cCategory++)
                        {
                            <td align="center">

                                @if (!Model.questionSet.gameBoard[cCategory].questions[cQuestion].Visited)
                                {
                                    <a>$@Html.ActionLink(Model.questionSet.gameBoard[cCategory].questions[cQuestion].PointValue.ToString(), "ShowAnswer", new { sID = Model.questionSet.Id, cC = cCategory, cQ = cQuestion }, null)</a>
                                    <script>allVisited = false;</script>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    var board = document.getElementById("board");
    var msg = document.getElementById("doneScreen");

    if (allVisited) {
        msg.style.display = "block";
        board.parentElement.removeChild(board);
    }

</script>