@model MVCJeopardy.UI.Models.ShowAnswerModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC Jeopardy</title>
    <style>
        body {
            font-family: Impact;
        }

        #answerBG {
            background: url('http://media.giphy.com/media/10ZEYfjsQ5V160/giphy.gif') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            width: 100%;
        }

        #answerPage {
            margin: 0px auto;
            padding: 50px 100px;
            text-align: center;
            width: 81.5%;
            background-color: rgba(255, 255, 255, 0.5);
        }

    table {
        table-layout: fixed;
        width: 720px;
    }

    table, th, td, #answer, #question {
        border: 2px solid #3c3c3c;
        background-color: rgba(0, 38, 255, 0.5);
    }

    a, #answer, #question {
        color: #00ffff;
    }

        #answer, #question {
            padding: 30px 70px;
            font-size: 25pt;
            text-shadow: 0.1em 0.1em black;
            color: #FFEE8F;
        }

    #answer {
        display: block;
    }

    #question {
        display: none;
    }

        h1 {
            text-shadow: 0.1em 0.1em black;
            color: rgb(240,240,240);
        }

        #showButton, #backButton {
            font-size: 20pt;
            font-family: Impact;
            text-align: center;
            color: rgb(240,240,240);
            background-color: rgba(0,0,0,0);
            outline: 0px solid rgba(0,0,0,0);
            padding: 10px 20px;
            text-shadow: 0.1em 0.1em black;
            color: rgb(240,240,240);
        }
    </style>
</head>
<body>
    <div id="answerBG">
        <div id="answerPage">
            <h1> @Model.cCategory.Name for @Model.cQuestion.PointValue</h1>
            <p id="answer" style="display:block;">@Model.cQuestion.Answer</p>
            <p id="question" style="display:none;">@Model.cQuestion.Question</p>
            <script>
                function showQuestion() {
                    var q = document.getElementById("question"),
                        a = document.getElementById("answer"),
                        s = document.getElementById("showButton");

                    if (q.style.display == "none") {
                        q.style.display = "block";
                        a.style.display = "none";
                        s.innerHTML = "Show answer";
                    }
                    else {
                        q.style.display = "none";
                        a.style.display = "block";
                        s.innerHTML = "Show question";
                    }

                }
            </script>
            <div id="showButton" onclick="showQuestion()" onmouseover="this.style.textShadow = '0.2em 0.2em black'" onmouseout="    this.style.textShadow = '0.1em 0.1em black'">Show question</div>

            <a id="backButton" href="@Url.Action("MarkVisited", "Board", new { g = Model.guid.ToString(), cC = Model.curC, cQ = Model.curQ })" onmouseover="this.style.textShadow='0.2em 0.2em black' " onmouseout=" this.style.textShadow='0.1em 0.1em black'">Return to board </a>
             
        </div>
    </div>
</body>
</html>
